<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../shared/head %>
</head>

<body>
    <% include ../shared/navbar %>
        <header id="editHeader" class="jumbotron header">
            <div class="container">
                <h1>更新歌曲</h1>
            </div>
        </header>
        <section class="py-3">
            <form id="editProductForm" class="container">
                <div class="form-group">
                    <label for="productName">歌曲名稱</label>
                    <input value="<%= product.name %>" type="text" id="productName" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="productPerformer">演出者</label>
                    <input value="<%= product.performer %>" type="text" id="productPerformer" class="form-control"
                        required>
                </div>
                <div class="form-group">
                    <label for="productLink">歌曲連結</label>
                    <input value="<%= product.link %>" type="text" id="productLink" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="productImage">歌曲圖片</label>
                    <input value="<%= product.image %>" type="text" id="productImage" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="productCategory">樂派</label>
                    <select id="productCategory" class="form-control">
                        <!-- <% %> 裡的東西只是邏輯，並非渲染出來的內容 -->
                        <!-- <%= %> 裡的東西是要渲染出來的內容 -->
                        <% categoryList.forEach(c=> { %>
                            <% if (product.category==c.id) { %>
                                <option value="<%= c.id%>" selected>
                                    <%= c.title%>
                                </option>
                                <% } else { %>
                                    <option value="<%= c.id%>">
                                        <%= c.title%>
                                    </option>
                                    <% } %>
                                        <% }) %>

                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary"><i class="fas fa-plus"></i> 更新歌曲</button>
                    <button id="deleteProductBtn" type="button" class="btn btn-danger"><i class="fas fa-trash"></i>
                        刪除歌曲</button>
                </div>
            </form>
        </section>
        <% include ../shared/scripts %>
            <script>
                const $select = $("#productCategory");
                const pid = "<%= pid %>";

                // 更新商品表單送出時
                $('#editProductForm').submit(function (event) {
                    event.preventDefault();
                    const product = {
                        name: $('#productName').val(),
                        performer: $('#productPerformer').val(),
                        link: $('#productLink').val(),
                        image: $('#productImage').val(),
                        category: $('#productCategory').val(),
                    }
                    console.log('[更新產品]', product);
                    // 更新商品API
                    // PATH: `/api/product/${pid}`,
                    // MATHOD: "PUT",
                    // DATA: product 更新後的商品資料(物件)
                    axios.put(`/api/product/${pid}`, product)
                        .then(res => {
                            alert("歌曲已被成功更新");
                            window.location = "/";
                        })
                        .catch(err => {
                            console.log("err", err);
                            alert("發生錯誤，請稍後再嘗試");
                        })
                });

                // 刪除商品按鈕按下時
                $('#deleteProductBtn').click(function () {
                    console.log('[刪除商品]');
                    // 刪除商品API
                    // PATH: `/api/product/${pid}`,
                    // MATHOD: "DELETE",
                    // DATA: {}
                    axios.delete(`/api/product/${pid}`)
                        .then(res => {
                            alert("<%= product.name %>已被移除");
                            window.location = "/";
                        })
                        .catch(err => {
                            console.log(err);
                            alert("發生錯誤，請稍後再嘗試");
                        })
                });
            </script>
</body>

</html>